:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(245, 100, 43);
}

html {
  background: url(static/image/background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* for touch screen */
  touch-action: none;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  position: relative;
}

#preloader {
  position: fixed;
  top: 50%;
  left: 47%;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.preloader-finish {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}

.ring {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 0px solid black;
  border-radius: 50%;
  z-index: 1;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(0, 255, 13);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-5deg);
}

#drag-container img,
#drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  border-radius: 5px;
  transform: scale(0.8);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}


#drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container #container {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 40%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
  filter: url(#threshold) blur(0.6px);
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center,
      farthest-side,
      #9993,
      transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}


#text1,
#text2 {
  position: absolute;
  width: 100px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 35px;

  text-align: center;

  user-select: none;
}


/* Clock */
.clock {
  position: absolute;
  top: 5%;
  left: 85%;
  width: 150px;
  height: 150px;
  background: #c9d5e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 10px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.clock::before {
  content: '';
  position: absolute;
  justify-content: center;
  top: 48.5%;
  left: 49%;
  width: 4px;
  height: 4px;
  background: #e91e63;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 0 1px #e91e63,
    0 0 0 3px #fff,
    0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.clock .numbers {
  position: absolute;
  inset: 20px;
  background: #152b4a;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 5px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 1)
}

.clock .numbers span {
  position: absolute;
  inset: 5px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  transform: rotate(calc(90deg*var(--i)));
}

.clock .numbers span b {
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-90deg*var(--i)));
}


.clock .numbers::before {
  content: '';
  position: absolute;
  inset: 21px;
  background: linear-gradient(#2196f3, #e91e63);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.clock .numbers::after {
  content: '';
  position: absolute;
  inset: 23px;
  background: #152b4a;
  border-radius: 50%;
}

.clock .numbers .circle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.clock .numbers .circle i {
  position: absolute;
  width: 3px;
  height: 50%;
  background: #fff;
  transform-origin: bottom;
}

.clock .numbers .circle#hr i {
  transform: scaleY(0.45);
  width: 3px;
}


.clock .numbers .circle#mn i {
  transform: scaleY(0.5);
}

.clock .numbers .circle#sc i {
  width: 2px;
  transform: scaleY(0.55);
  background: #e91e63;
  box-shadow: 0 30px 0 #e91e63;
  transform: rotateZ('305');
}



/* Menu  */
.menu {
  position: absolute;
  top: 30%;
  left: 15%;
}


.menu ul {
  position: relative;
  transform: skewY(-15deg);
}

.menu ul li {
  position: relative;
  list-style: none;
  width: 120px;
  background: #3e3f46;
  padding: 15px;
  transition: 0.5s;
  z-index: calc(1*var(--i));
  margin-top: 15px;
}

.menu ul li:hover {
  transform: translateX(-50px);
  background: var(--clr);
}

.menu ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #3e3f46;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;

}

.menu ul li:hover::before {
  background: var(--clr);
  filter: brightness(0.7);
}

.menu ul li::after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #3e3f46;
  filter: brightness(0.9);
  transform-origin: bottom;
  transform: skewX(45deg);
}

.menu ul li:hover:after {
  background: var(--clr);
  filter: brightness(0.9);
}

.menu ul li a {
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.menu ul li:hover a {
  color: #fff;
}

.menu ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.5);
}

.menu ul li span {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}


.menu ul li:hover span {
  opacity: 1;
}



/* menu icon */
.menu1 {
  position: absolute;
  top: 30%;
  left: 3%;
}

.menu1 ul li .logo {
  width: 55px;
  height: 55px;
}

.menu1 ul li a {
  display: flex;
}

.menu1 ul li .logo:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }

  50% {
    transform: translate(-3px, 2px) rotate(-1deg);
  }

  100% {
    transform: translate(3px, -2px) rotate(-1deg);
  }
}

.menu1 ul li a {
  display: flex;
}

.menu1 ul li .overlay {
  position: absolute;
  display: inline;
  left: 100%;
  top: 15%;
  width: 0;
  height: 40px;
  background-color: var(--clr);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15),
    inset 0px 5px 5px rgba(255, 255, 255, 0.75),
    -5px -1px 5px rgba(255, 255, 255, 0.55),
    inset 0px -1px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  transition: .7s ease;
}

.menu1 img:hover+.overlay {
  width: 210px;
}

.menu1 ul li .overlay:hover {
  width: 210px;
}

.menu1 ul li .overlay .text:hover {
  display: block;
  white-space: nowrap;
  color: var(--textCl);
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  ;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-overflow: ellipsis;

}

.menu1 ul li .overlay .text {
  display: none;
}

.menu1 img:hover+.overlay .text {
  display: block;
  white-space: nowrap;
  color: var(--textCl);
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  ;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-overflow: ellipsis;
}


.menu1 ul li {
  margin-top: 10px;
  position: relative;
}