:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(245, 100, 43);
}

html {
  background: url(static/image/background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* for touch screen */
  touch-action: none;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  position: relative;
}

#preloader {
  position: fixed;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.preloader-finish {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}

.ring {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 0px solid black;
  border-radius: 50%;
  z-index: 1;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(0, 255, 13);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-5deg);
}

#drag-container img,
#drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  border-radius: 5px;
  transform: scale(0.8);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}


#drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container #container {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 40%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
  filter: url(#threshold) blur(0.6px);
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center,
      farthest-side,
      #9993,
      transparent);
}

#audio {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}


#text1,
#text2 {
  position: absolute;
  width: 100px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 35px;

  text-align: center;

  user-select: none;
}


/* Clock */
.clock {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: #c9d5e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 10px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.clock::before {
  content: '';
  position: absolute;
  justify-content: center;
  top: 48.5%;
  left: 49%;
  width: 4px;
  height: 4px;
  background: #e91e63;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 0 1px #e91e63,
    0 0 0 3px #fff,
    0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.clock .numbers {
  position: absolute;
  inset: 20px;
  background: #152b4a;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 5px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 1)
}

.clock .numbers span {
  position: absolute;
  inset: 5px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  transform: rotate(calc(90deg*var(--i)));
}

.clock .numbers span b {
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-90deg*var(--i)));
}


.clock .numbers::before {
  content: '';
  position: absolute;
  inset: 21px;
  background: linear-gradient(#2196f3, #e91e63);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.clock .numbers::after {
  content: '';
  position: absolute;
  inset: 23px;
  background: #152b4a;
  border-radius: 50%;
}

.clock .numbers .circle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.clock .numbers .circle i {
  position: absolute;
  width: 3px;
  height: 50%;
  background: #fff;
  transform-origin: bottom;
}

.clock .numbers .circle#hr i {
  transform: scaleY(0.45);
  width: 3px;
}


.clock .numbers .circle#mn i {
  transform: scaleY(0.5);
}

.clock .numbers .circle#sc i {
  width: 2px;
  transform: scaleY(0.55);
  background: #e91e63;
  box-shadow: 0 30px 0 #e91e63;
  transform: rotateZ('305');
}


/* menu icon */
.menu {
  position: absolute;
  top: 26%;
  left: 4%;
}

.menu ul li .logo {
  width: 55px;
  height: 55px;
}

.menu ul li a {
  display: flex;
}

.menu ul li .logo:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }

  50% {
    transform: translate(-3px, 2px) rotate(-1deg);
  }

  100% {
    transform: translate(3px, -2px) rotate(-1deg);
  }
}

.menu ul li a {
  display: flex;
}

.menu ul li .overlay {
  position: absolute;
  display: inline;
  left: 100%;
  top: 15%;
  width: 0;
  height: 40px;
  background-color: var(--clr);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15),
    inset 0px 5px 5px rgba(255, 255, 255, 0.75),
    -5px -1px 5px rgba(255, 255, 255, 0.55),
    inset 0px -1px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  transition: .7s ease;
}

.menu img:hover+.overlay {
  width: 210px;
}

.menu ul li .overlay:hover {
  width: 210px;
}

.menu ul li .overlay .text:hover {
  display: block;
  white-space: nowrap;
  color: var(--textCl);
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-overflow: ellipsis;

}

.card .content .details .slogan {
  text-align: center;
}

.menu ul li .overlay .text {
  display: none;
}

.menu img:hover+.overlay .text {
  display: block;
  white-space: nowrap;
  color: var(--textCl);
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  ;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-overflow: ellipsis;
}


.menu ul li {
  margin-bottom: 28px;
  position: relative;
}

/* introduction */
.container {
  position: absolute;
  top: 28%;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 220px;
  z-index: 2;
}

.container .card {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #2196f3;
  transition: 0.5s;

}

.container .card:nth-child(1) {
  cursor: url('static/image/hearts.png'), pointer;
}

.container .card:nth-child(2) {
  cursor: url('static/image/search.png'), pointer;
}

.container .card:nth-child(3) {
  cursor: url('static/image/book-stack.png'), pointer;
}

.container .card:hover {
  height: 280px;
}

.card .lines {
  position: absolute;
  inset: 0;
  background-color: #000;
  overflow: hidden;
}

.card .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background-image: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
  animation: animateCard 4s linear infinite;
  animation-play-state: paused;
}

.card:hover .lines::before {
  animation-play-state: running;
}

@keyframes animateCard {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: '';
  position: absolute;
  inset: 3px;
  background-color: #292929;

}

.card .imgBox {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .imgBox {
  top: 20px;
  width: 100px;
  height: 100px;
}

.card .imgBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(transparent, #ff3c7d, #ff3c7d, #ff3c7d, transparent);
  animation: animateImage 6s linear infinite;
  animation-play-state: paused;
}

.card:hover .imgBox::before {
  animation-play-state: running;
}

@keyframes animateImage {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .imgBox::after {
  content: '';
  position: absolute;
  inset: 3px;
}

.card .imgBox img {
  position: absolute;
  z-index: 2;
  transition: 0.5s;
}

.container img {
  width: 93%;
  height: 93px;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .content .details {
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(50px);

}

.card:hover .content .details {
  transform: translateY(50px);
}

.card .content .details h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: #45f3ff;
  line-height: 1.2em;
  margin-bottom: 15px;
  margin-top: 40px;
  transition: 0.5s;
}

.card:hover .content .details h2 {
  margin-top: 20px;
}

.card .content .details p {
  text-align: left;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  line-height: 1.4em;
}

.card:hover .content .details p {
  opacity: 1;
}

.particle {
  --x: 0;
  --y: 0;
  background-color: rebeccapurple;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  z-index: -1;
}

.particle.move {
  animation: move 1000ms linear forwards;
}

@keyframes move {
  to {
    transform: translate(var(--x), var(--y));
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#fireWorks {
  position: absolute;
  left: 48%;
  top: 90%;
  z-index: 2;
  width: 50px;
  height: 50px;
}


@media only screen and (max-width: 600px) {
  #audio {
    display: none;
  }

  #preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 1000;
  }

  .clock {
    display: none !important;
  }

  /* reponsive self introduce */
  .container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
    gap: 10px !important;
  }

  .container .card {
    position: relative;
    width: 30%;
    height: 80px;
    background-color: #2196f3;
    transition: 0.5s;
  }

  .container .card:hover {
    height: 210px;
  }

  .card .lines::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #292929;
  }

  .card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 90px;
    background-image: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animateCard 4s linear infinite;
    animation-play-state: paused;
  }

  .card .imgBox {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card:hover .imgBox {
    top: 10px;
    width: 65px;
    height: 65px;
  }

  .card .imgBox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 80px;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(transparent, #ff3c7d, #ff3c7d, #ff3c7d, transparent);
    animation: animateImage 6s linear infinite;
    animation-play-state: paused;
  }

  .card:hover .imgBox::before {
    animation-play-state: running;
  }

  @keyframes animateImage {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .container img {
    width: 93%;
    height: 60px;
  }

  .card .content .details {
    padding: 7px 7px;
    text-align: center;
    width: 100%;
    height: 150px;
    transition: 0.5s;
    transform: translateY(20px);
  }

  .card .content .details h2 {
    font-size: 1.1em;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2em;
    margin-bottom: 15px;
    margin-top: 60px;
    transition: 0.5s;
  }

  .card:hover .content .details h2 {
    margin-top: 15px;
  }

  .card:hover .content .details {
    transform: translateY(40px);
  }

  .card:hover .content .details p {
    opacity: 1;
  }

  .card .content .details p {
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    line-height: 1.3em;
    font-size: 0.7em;
  }

  .card .content .details .slogan {
    text-align: center;
  }

  /* reponsevive menu */
  .menu {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .menu ul {
    display: flex !important;
    justify-content: space-between;
  }

  .overlay {
    display: none !important;
  }
}